.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/******** Custom Styles ************/
.Main {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.MainChild {
  height: 100%;
}

.Left {
  width: 33%;
  background-color: red;
}

.Right {
  width: 66%;
  background-color: blue;
}

.SearchBar {
  width: 100%;
  margin-bottom: 10px;
}